# Ignorar dados das pastas Famalicao e VilaReal em qualquer fase
**/Famalicao/registosFamalicao_xml/
**/Famalicao/htmlFamalicao/
**/Famalicao/outputFama_html/
**/Famalicao/entidade_Famalicao.csv

**/VilaReal/registosVilaReal_xml/
**/VilaReal/htmlVilaReal/
**/VilaReal/entidades_VilaReal.csv

# Ignorar ficheiros temporários
*.log
*.tmp
