# Ignorar XMLs descarregados
Famalicao/registosFamalicao_xml/
VilaReal/registosVilaReal_xml/

VilaReal/entidades_VilaReal.csv

# Ignorar HTMLs gerados
Famalicao/htmlFamalicao/
Famalicao/outputFama_html/
VilaReal/htmlVilaReal/

# Ignorar CSVs gerados
Famalicao/entidade_Famalicao.csv

# Ignorar ficheiros temporários
*.log
*.tmp
